@font-face {
	font-family: 'FiraSans-Regular';
	src: url('fonts/FiraSans-Regular.eot'); /* IE9 Compat Modes */
	src: local('FiraSans-Regular'),
		url('fonts/FiraSans-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/FiraSans-Regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/FiraSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSans-Medium';
	src: url('fonts/FiraSans-Medium.eot'); /* IE9 Compat Modes */
	src: local('FiraSans-Medium'),
		url('fonts/FiraSans-Medium.eot') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/FiraSans-Medium.woff') format('woff'), /* Modern Browsers */
		url('fonts/FiraSans-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'FiraMono-Regular';
	src: url('fonts/FiraMono-Regular.eot'); /* IE9 Compat Modes */
	src: local('FiraMono-Regular'),
		url('fonts/FiraMono-Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/FiraMono-Regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/FiraMono-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: 400;
	font-style: normal;
}
